*{
    margin: 0%;
    padding: 0%;
}
@media screen and (min-width:1200px) {
    

    body{
        display: grid;
        grid-template-columns: repeat(12,1fr);
    }
    #first{
        background-image: url(/images/bg-main-desktop.png);
        background-repeat: no-repeat;
        background-size:cover;
        grid-column: 1/4;
    }
    #second{
        grid-column: 4/13;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* styling the cards */
    #frontcard{
        position:absolute;
         top: 150px;
        left: 150px;
    }
    #backcard{
        position:absolute;
        top: 380px;
        left: 200px;
    
    }
    #cardlogo{
        position:absolute;
        height: 40px;
        left:170px ;
        top:170px;
         box-shadow: none;
    }
    img{ 
        height: 200px;
        box-shadow: 0px 7px 18px -5px ;
        border-radius: 10px;
    }
            
    #cardnum{
        position: absolute;
        font-size: 25px;
        top: 270px;
        left: 200px;
    letter-spacing: 3px;
    color: white;
    }
    #cardname{
        position: absolute;
        top: 315px;
        left: 180px;
        color: white;
    
    }
    #M{
        position: absolute;
        top: 310px;
        left: 460px;
        color: white;
    }
    #Y{
        position: absolute;
        top: 310px;
        left: 480px;
        color: white;
    }
    #line{
        position: absolute;
        top: 310px;
        left: 476px;
        color: white;
    }
    #cvv{
        position: absolute;
        top: 470px;
        left: 490px;
        color: white;
    }
    /* styling the form */
    #second input{
        height: 40px;
        border-radius: 7px;
        font-size: 15px;
        padding: 10px;
        margin: 5px;
        border: 1px solid gainsboro;
    }
    #second input:focus{
        outline: none;
        border:1px solid rgb(57, 1, 97);
        
    }

    #second input::placeholder{
    font-size: 15px;   
    }
    #second input[type="text"]{
        width: 350px; }
    #second #number{
            width: 350px; }
    #second #cvc{
        width: 135px;
    }
    #submit{
        width: 350px;
        background-color: rgb(57, 1, 97);
        color: white;
        padding: 10px;
        border-radius: 5px;
        
    }
    #second label{
        color: rgb(57, 1, 97);
    }
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    /* Firefox */
    input[type=number] {
    -moz-appearance: textfield;
    }
    #iconcomplete{
        
        box-shadow: none;
        height: 100px;
    }
    
       
    
    #complete{
        text-align: center;
        color:rgb(57, 1, 97);
    }

}
@media screen and (max-width:1200px) {
    
    body{
        display: grid;
        grid-template-rows: repeat(12,1fr);
    }
    #first{
        background-image: url(/images/bg-main-desktop.png);
        background-repeat: no-repeat;
        background-size:cover;
        grid-row: 1/6;
    }
    #second{
        grid-row: 6/13;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* styling the cards */
    #frontcard{
        position:absolute;
         top: 140px;
        left: 20px;
    }
    #backcard{
        position:absolute;
        top: 30px;
        left: 120px;
    
    }
    #cardlogo{
        position:absolute;
        height: 40px;
        left:50px ;
        top:170px;
         box-shadow: none;
    }
    img{ 
        height: 200px;
        box-shadow: 0px 7px 18px -5px ;
        border-radius: 10px;
    }
            
    #cardnum{
        position: absolute;
        font-size: 25px;
        top: 260px;
        left: 60px;
        letter-spacing: 3px;
        color: white;
    }
    #cardname{
        position: absolute;
        top: 310px;
        left: 40px;
        color: white;
    
    }
    #M{
        position: absolute;
        top: 310px;
        left: 320px;
        color: white;
    }
    #Y{
        position: absolute;
        top: 310px;
        left: 342px;
        color: white;
    }
    #line{
        position: absolute;
        top: 310px;
        left: 337px;
        color: white;
    }
    #cvv{
        position: absolute;
        top: 120px;
        left: 410px;
        color: white;
    }
    /* styling the form */
    #second input{
        height: 40px;
        border-radius: 7px;
        font-size: 15px;
        padding: 10px;
        margin: 5px;
        border: 1px solid gainsboro;
    }
    #second input:focus{
        outline: none;
        border:1px solid rgb(57, 1, 97);
        
    }

    #second input::placeholder{
    font-size: 15px;   
    }
    #second input[type="text"]{
        width: 350px; }
    #second #number{
            width: 350px; }
    #second #cvc{
        width: 135px;
    }
    #submit{
        width: 350px;
        background-color: rgb(57, 1, 97);
        color: white;
        padding: 10px;
        border-radius: 5px;
        
    }
    #second label{
        color: rgb(57, 1, 97);
    }
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    /* Firefox */
    input[type=number] {
    -moz-appearance: textfield;
    }
    #iconcomplete{
        
        box-shadow: none;
        height: 100px;
    }
    
       
    
    #complete{
        text-align: center;
        color:rgb(57, 1, 97);
    }
    
}

