*{
    margin: 0%;
    padding: 0%;
    font-family: "Lucida Console", "Courier New", monospace;
}
@media screen and (min-width:1200px) {
    

    body{
        display: grid;
        grid-template-columns: repeat(12,1fr);
    }
    #first{
        background-image: url(/images/bg-main-desktop.png);
        background-repeat: no-repeat;
        background-size:cover;
        grid-column: 1/4;
    }
    #second{
        grid-column: 4/13;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* styling the cards */
    #frontcard{
        position:absolute;
         top: 150px;
        left: 150px;
    }
    #backcard{
        position:absolute;
        top: 380px;
        left: 200px;
    
    }
    #cardlogo{
        position:absolute;
        height: 40px;
        left:170px ;
        top:170px;
         box-shadow: none;
    }
    img{ 
        height: 200px;
        box-shadow: 0px 7px 18px -5px ;
        border-radius: 10px;
    }
            
    #cardnum{
        position: absolute;
        font-size: 20px;
        top: 270px;
        left: 195px;
    letter-spacing: 3px;
    color: white;
    }
    #cardname{
        position: absolute;
        top: 315px;
        left: 180px;
        color: white;
    
    }
    #M{
        position: absolute;
        top: 310px;
        left: 453px;
        color: white;
    }
    #Y{
        position: absolute;
        top: 310px;
        left: 480px;
        color: white;
    }
    #line{
        position: absolute;
        top: 310px;
        left: 470px;
        color: white;
    }
    #cvv{
        position: absolute;
        top: 470px;
        left: 490px;
        color: white;
    }
    /* styling the form */
    #second input{
        height: 40px;
        border-radius: 7px;
        font-size: 15px;
        padding: 10px;
        margin: 5px;
        border: 1px solid gainsboro;
    }
    #second input:focus{
        outline: none;
        border:1px solid rgb(57, 1, 97);
        
    }

    #second input::placeholder{
    font-size: 15px;  
    text-transform: none; 
    }
    #second input[id="name"]{
        width: 350px;
        text-transform: capitalize; }
    #second #number{
            width: 350px; }
    #second #cvc{
        width: 135px;
    }
    #month ,#year{
        width: 93px;
    }
    #submit{
        width: 360px;
        background-color: rgb(57, 1, 97);
        color: white;
        padding: 10px;
        border-radius: 5px;
        
    }
    #second label{
        color: rgb(57, 1, 97);
    }
  

    #iconcomplete{
        
        box-shadow: none;
        height: 100px;
    }
    
       
    
    #complete{
        text-align: center;
        color:rgb(57, 1, 97);
        display: none;
    }
    .blank{
    color: red;
    font-size: 13px;
}


}
@media screen and (max-width:1200px) {
    
    body{
        display: grid;
        grid-template-rows: repeat(12,1fr);
    }
    #first{
        background-image: url(/images/bg-main-desktop.png);
        background-repeat: no-repeat;
        background-size:cover;
        grid-row: 1/6;
    }
    #second{
        grid-row: 6/13;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* styling the cards */
    #frontcard{
        position:absolute;
         top: 115px;
        left: 20px;
    }
    #backcard{
        position:absolute;
        top: 20px;
        left: 120px;
    
    }
    #cardlogo{
        position:absolute;
        height: 40px;
        left:50px ;
        top:140px;
         box-shadow: none;
    }
    img{ 
        height: 190px;
        box-shadow: 0px 7px 18px -5px ;
        border-radius: 10px;
    }
            
    #cardnum{
        position: absolute;
        font-size: 20px;
        top: 215px;
        left: 55px;
        letter-spacing: 3px;
        color: white;
    }
    #cardname{
        position: absolute;
        top: 265px;
        left: 40px;
        color: white;
    
    }
    #M{
        position: absolute;
        top: 265px;
        left: 308px;
        color: white;
    }
    #Y{
        position: absolute;
        top: 265px;
        left: 335px;
        color: white;
    }
    #line{
        position: absolute;
        top: 265px;
        left: 325px;
        color: white;
    }
    #cvv{
        position: absolute;
        top: 105px;
        left: 390px;
        color: white;
    }
    /* styling the form */
    #second input{
        height: 40px;
        border-radius: 7px;
        font-size: 15px;
        padding: 10px;
        margin: 5px;
        border: 1px solid gainsboro;
    }
    #second input:focus{
        outline: none;
        border:1px solid rgb(57, 1, 97);
        
    }

    #second input::placeholder{
    font-size: 15px;   
    }
    #second input[id="name"]{
        width: 350px; }
    #second #number{
            width: 350px; }
    #second #cvc{
        width: 120px;
    }
    #month ,#year{
        width: 93px;
    }
    #submit{
        width: 350px;
        background-color: rgb(57, 1, 97);
        color: white;
        padding: 10px;
        border-radius: 5px;
        
    }
    #second label{
        color: rgb(57, 1, 97);
    }
   
    #iconcomplete{
        
        box-shadow: none;
        height: 100px;
    }
    
       
    
    #complete{
        text-align: center;
        color:rgb(57, 1, 97);
        display: none;
    }
.blank{
    color: red;
}
}
@media screen and (max-width:500px) {
    
    body{
        display: grid;
        grid-template-rows: repeat(12,1fr);
        overflow: hidden;

    }
    #first{
        background-image: url(/images/bg-main-desktop.png);
        background-repeat: no-repeat;
        background-size:cover;
        grid-row: 1/6;
    }
    #second{
        grid-row: 6/13;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* styling the cards */
    #frontcard{
        position:absolute;
         top: 125px;
        left: 20px;
    }
    #backcard{
        position:absolute;
        top: 10px;
        left: 40px;
    
    }
    #cardlogo{
        position:absolute;
        height: 28px;
        left:50px ;
        top:150px;
         box-shadow: none;
    }
    img{ 
        height: 170px;
        box-shadow: 0px 7px 18px -5px ;
        border-radius: 10px;
    }
            
    #cardnum{
        position: absolute;
        font-size: 17px;
        top: 220px;
        left: 55px;
        letter-spacing: 3px;
        color: white;
    }
    #cardname{
        position: absolute;
        top: 270px;
        left: 40px;
        color: white;
        font-size: 13px;
    
    }
    #M{
        position: absolute;
        top: 270px;
        left: 270px;
        color: white;
        font-size: 13px;
    }
    #Y{
        position: absolute;
        top: 270px;
        left: 295px;
        color: white;
        font-size: 13px;
    }
    #line{
        position: absolute;
        top: 270px;
        left: 285px;
        color: white;
        font-size: 13px;
    }
    #cvv{
        position: absolute;
        top: 90px;
        left: 280px;
        color: white;
        font-size: 13px;
    }
    /* styling the form */
    #second input{
        height: 40px;
        border-radius: 7px;
        font-size: 15px;
        padding: 10px;
        margin: 5px;
        border: 1px solid gainsboro;
    }
    #second input:focus{
        outline: none;
        border:1px solid rgb(57, 1, 97);
        
    }

    #second input::placeholder{
    font-size: 15px;   
    }
    #second input[id="name"]{
        width: 300px; }
    #second #number{
            width: 300px; }
    #second #cvc{
        width: 100px;
    }
    #month ,#year{
        width: 82px;
    }
    #submit{
        width: 310px;
        background-color: rgb(57, 1, 97);
        color: white;
        padding: 10px;
        border-radius: 5px;
        
    }
    #second label{
        color: rgb(57, 1, 97);
    }
   
    #iconcomplete{
        
        box-shadow: none;
        height: 100px;
    }
    
       
    
    #complete{
        text-align: center;
        color:rgb(57, 1, 97);
        display: none;
    }
.blank{
    color: red;
}
}
