*{
    margin: 0%;
    padding: 0%;
}
body{
    display: grid;
    grid-template-columns: repeat(12,1fr);
}
#first{
    background-image: url(/images/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-size:cover;
    grid-column: 1/5;
}
#second{
    grid-column: 5/13;
    display: flex;
    justify-content: center;
    align-items: center;
}
